<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="static/css/style.css">
        <script type="text/javascript" src="static/script/script.js"></script>
        <title>Calculator</title>
    </head> 
    <body>
        <h1>CryptoFi Calculator</h1>
        <input type="text" id="display"/>
        <div id="buttons">
            <table>
                <tr>
                    <td id="symbol" onclick="empty()">AC</td>
                    <td id="symbol" onclick="backspace()">⌫</td>
                    <td id="symbol" onclick="calculate('%')">%</td>
                    <td id="func" onclick="calculate('/')">÷</td>
                </tr>
                <tr>
                    <td id="buttonstabletd" onclick="calculate(7)">7</td>
                    <td id="buttonstabletd" onclick="calculate(8)">8</td>
                    <td id="buttonstabletd" onclick="calculate(9)">9</td>
                    <td id="func" onclick="calculate('*')">x</td>
                </tr>
                <tr>
                    <td id="buttonstabletd" onclick="calculate(4)">4</td>
                    <td id="buttonstabletd" onclick="calculate(5)">5</td>
                    <td id="buttonstabletd" onclick="calculate(6)">6</td>
                    <td id="func" onclick="calculate('-')">-</td>
                </tr>
                <tr>
                    <td id="buttonstabletd" onclick="calculate(1)">1</td>
                    <td id="buttonstabletd" onclick="calculate(2)">2</td>
                    <td id="buttonstabletd" onclick="calculate(3)">3</td>
                    <td id="func" onclick="calculate('+')">+</td>
                </tr>
                <tr>
                    <td id="zero" onclick="calculate(0)">0</td>
                    <td id="buttonstabletd" onclick="calculate('.')">.</td>
                    <td id="buttonstabletd" onclick="equal()">=</td>
                </tr>
            </table>
        </div>
    </body>
</html>